/* TOKENS */
:root {
  --background: rgb(255 255 255);
  --foreground: rgb(0 0 0);
  --primary: rgb(31 101 252);
  --ring: rgb(31 101 252 / 0.45);
}

/* BASE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  min-width: 378px;
  min-height: 100vh;
  padding: 1rem;
  background-color: var(--background);
  color: var(--foreground);
}

button {
  padding: 0;
  border: 0;
  border-radius: 0;
  color: inherit;
  background: none;
  box-shadow: none;
  font: inherit;
  text-align: inherit;
  cursor: pointer;
}

input,
button,
textarea,
select {
  font: inherit;
}

:where(a, button, input, textarea, select):focus-visible {
  outline: 0;
  box-shadow: 0 0 0 3px var(--ring);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* COMPONENTS */
.loader {
  width: 1em;
  height: 1em;
  border: 0.1em solid var(--foreground);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

/* UTILS */
.hidden {
  display: none;
}

/* ANIMATIONS */
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
